/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --page__background-image: url(../images/cover-image-dark.png);
  --accent-color: rgba(255, 0, 112, 1);
  --acent-color-hover: rgba(255, 0, 112, 0.5);
  --header__padding: 10px;
  --background-color: rgb(0, 0, 40);
  --text-color: rgba(241, 178, 206, 1);
  --title-font__color: rgba(219, 0, 255, 1);
  --decorative-element__visibility: visible;
}
