/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page__background-image: url(../images/cover-image-light.png);
  --accent-color: rgba(255, 141, 203, 1);
  --acent-color-hover: rgba(255, 141, 203, 0.5);
  --background-color: rgb(255, 241, 247);
  --text-color: rgba(53, 52, 48, 1);
  --title-font__color: rgba(255, 194, 230, 1);
  --decorative-element__visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --page__background-image: url(../images/cover-image-light.png);
    --accent-color: rgba(255, 141, 203, 1);
    --acent-color-hover: rgba(255, 141, 203, 0.5);
    --background-color: rgb(255, 241, 247);
    --text-color: rgba(53, 52, 48, 1);
    --title-font__color: rgba(255, 194, 230, 1);
    --decorative-element__visibility: hidden;
  }
}
