/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/*@import url('variables.css');*/

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--page__background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.header {
  position: relative;
  block-size: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: var(--header__padding);
}

.corner::before {
  content: "";
  position: absolute;
  top: var(--header__padding);
  right: var(--header__padding);
  z-index: 1;
  block-size: 25px;
  inline-size: 25px;
  border-top: 1px solid var(--title-color);
  border-right: 1px solid var(--title-color);
}

.corner::after {
  content: "";
  position: absolute;
  bottom: var(--header__padding);
  left: var(--header__padding);
  z-index: 1;
  block-size: 25px;
  inline-size: 25px;
  border-bottom: 1px solid var(--title-color);
  border-left: 1px solid var(--title-color);
}

.header__light {
  position: absolute;
  top: var(--header__padding);
  right: calc(var(--header__padding) + 10px);
  z-index: 1;
  color: var(--accent-color);
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  align-self: end;
  margin-right: 20px;
  visibility: var(--decorative-element__visibility);
}

.header__light::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: var(--header__padding);
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-left: 10px;
  visibility: var(--decorative-element__visibility);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--title-color);
  background-color: transparent;
  border: none;
  padding: 3px 13px;
  text-transform: lowercase;
  block-size: 26px;
  inline-size: 70px;
  margin: 5px 0;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--title-color);
}

.header__theme-menu-button:hover {
  border: solid 1px var(--title-color-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: solid 1px var(--title-color);
  outline: none;
}

.logo {
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace, sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-font__color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  justify-self: center;
}

.header__subtitle,
.section__title,
.section__subtitle {
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.header__subtitle {
  color: var(--subtitle-color);
  block-size: min-content;
  align-self: center;
  justify-self: center;
}

.title-decor {
  background-color: var(--accent-color);
  block-size: min-content;
}

.main {
  padding: var(--main__padding-vertical) var(--main__padding-horizontal);
  background: inherit;
  background-image: none;
}

.section {
  padding: var(--section__padding) 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.section__title {
  color: var(--title-color);
  margin-bottom: 20px;
}

.section__subtitle {
  color: var(--subtitle-color);
  margin-bottom: 10px;
}

.section__how .section__subtitle {
  margin-bottom: 20px;
}

.section__subtitle-extra,
.section__article-text {
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.section__subtitle-extra {
  color: var(--subtitle-color);
  margin-bottom: 10px;
}

.section__article-text {
  color: var(--text-color);
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.link:hover {
  border-bottom: solid 1px var(--text-color);
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section__gallery {
  gap: 10px;
}

.gallery__item {
  box-sizing: border-box;
  margin: 0;
}

.section__image {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  block-size: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr;
  background-image: none;
  background-color: inherit;
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
    --header__padding: 20px;
    padding-left: 0;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .header__light::after {
    content: "";
    top: calc(var(--header__padding) - 9px);
  }
  .header__theme-menu {
    grid-column: 2;
    grid-row: 1;
    gap: 12px;
  }
  .logo {
    justify-self: start;
    grid-column: span 2;
    grid-row: 2;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header__subtitle {
    grid-column: 2;
    grid-row: 3;
  }
  .main {
    --section__padding: 40px;
    --main__padding-horizontal: 20px;
  }
  .section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-top: calc(var(--section__padding) - 5px);
    padding-bottom: calc(var(--section__padding) + 5px);
  }
  .section__article-text {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .section__title {
    margin-bottom: 0;
  }
  .section__why .section__title {
    grid-column: 1;
  }
  .section__why article {
    grid-column: 2;
  }
  .section__what .section__title {
    grid-column: 1;
  }
  .section__what article {
    grid-column: 1/-1;
  }
  .section__how .section__title {
    grid-column: 1;
    grid-row: 1 / span 2;
  }
  .section__how .section__subtitle {
    margin-bottom: 0;
  }
  .section__how article {
    grid-row: 1 span;
    grid-column: 2;
  }
  .section__gallery {
    display: grid;
    grid-template-rows: min-content repeat(3, fit-content);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
  }
  .section__gallery .section__subtitle {
    grid-row: 1;
    grid-column: 1 / -1;
    margin-bottom: 0;
  }
  .img-sunset {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .img-ice {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 3;
  }
  .img-tape {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column: 1;
  }
  .img-books {
    grid-row: 3;
    grid-column: 2;
  }
  .img-street {
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .footer {
    margin-top: 0;
    min-height: 1024px;
  }
  .footer .logo {
    align-self: center;
    justify-self: center;
    margin-top: 0;
    grid-row: unset;
    margin-bottom: 40px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
    --header__padding: 20px;
    padding-left: 0;
    grid-template-columns: 1fr 1fr;
  }
  .header__light::after {
    content: "";
    top: calc(var(--header__padding) - 9px);
  }
  .header__theme-menu {
    padding-left: var(--header__padding);
    grid-column: span 2;
    grid-row: 1;
    justify-self: center;
    align-self: start;
    display: flex;
    gap: 10px;
    margin-top: 0;
    white-space: nowrap;
  }
  .header__theme-menu-item {
    display: inline-block;
  }
  .header__theme-menu-button {
    margin: 0;
  }
  .header__subtitle {
    justify-self: center;
    align-self: center;
    margin-left: calc(var(--header__padding) / 2);
  }
  .section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .section__what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    gap: 20px;
  }
  .section__what .section__subtitle {
    grid-column: span 1;
    grid-row: 1;
  }
  .section__what article:nth-child(-n + 4) {
    grid-row: 2;
    grid-column: span 1;
  }
  .section__what article {
    grid-row-start: 3;
    grid-column: span 1;
  }
  .section__gallery {
    display: grid;
    grid-template-rows: min-content repeat(3, fit-content);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
  }
  .section__gallery .section__subtitle {
    grid-row: 1;
    grid-column: 1 / -1;
  }
  .footer {
    min-height: 768px;
  }
}
