/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/*@import url('variables.css');*/

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--page__background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background-color);
  overflow-x: hidden;
}

.header {
  position: relative;
  block-size: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  padding: var(--header__padding);
}

.header::before {
  content: "";
  position: absolute;
  top: var(--header__padding);
  right: var(--header__padding);
  z-index: 1;
  block-size: 25px;
  inline-size: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.header::after {
  content: "";
  position: absolute;
  bottom: var(--header__padding);
  left: var(--header__padding);
  z-index: 1;
  block-size: 25px;
  inline-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__light {
  position: absolute;
  top: var(--header__padding);
  right: calc(var(--header__padding) + 10px);
  z-index: 1;
  color: var(--accent-color);
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  align-self: end;
  margin-right: 20px;
  visibility: var(--decorative-element__visibility);
}

.header__light::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: var(--header__padding);
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 10px var(--accent-color);
  margin-left: 10px;
  visibility: var(--decorative-element__visibility);
}

.header__theme-menu {
  margin-top: 60px;
  justify-self: end;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  padding: 3px 13px;
  text-transform: lowercase;
  margin: 5px 0;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: solid 1px var(--accent-color-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: solid 1px var(--accent-color);
  outline: none;
}

.title-font {
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-font__color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-top: 65px;
  align-self: center;
  justify-self: center;
}

.header__title {
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--background-color);
  block-size: min-content;
  margin-top: 55px;
}

.title-decor {
  background-color: var(--accent-color);
  block-size: fit-content;
}

.main {
  padding: var(--main__padding-vertical) var(--main__padding-horizontal);
  background-color: var(--background-color);
}

.section {
  padding: var(--section__padding) 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.section__title {
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.section__subtitle {
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--background-color);
  margin-bottom: 10px;
}

.section__how .section__subtitle {
  margin-bottom: 20px;
}

.section__subtitle-extra {
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--background-color);
  margin-bottom: 10px;
}

.section__article-text {
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-color);
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section__gallery {
  gap: 10px;
}

.gallery__item {
  box-sizing: border-box;
  margin: 0;
}

.section__image {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  block-size: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr;
  background-color: var(--background-color);
}

.footer::before {
  content: "";
  position: absolute;
  top: var(--header__padding);
  right: var(--header__padding);
  z-index: 1;
  block-size: 25px;
  inline-size: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.footer::after {
  content: "";
  position: absolute;
  bottom: var(--header__padding);
  left: var(--header__padding);
  z-index: 1;
  block-size: 25px;
  inline-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
    --header__padding: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .header__light::after {
    content: "";
    top: calc(var(--header__padding) - 9px);
  }
  .header__theme-menu {
    grid-column: 2;
    grid-row: 1;
    gap: 12px;
    margin-top: 192px;
  }
  .title-font {
    align-self: start;
    justify-self: start;
    grid-column: span 2;
    grid-row: 2;
    margin-top: 173px;
  }
  .header__title {
    align-self: end;
    justify-self: end;
    min-height: 117px;
    grid-column: 2;
    grid-row: 3;
    margin-top: 162px;
  }
  .main {
    --section__padding: 40px;
    --main__padding-horizontal: 20px;
  }
  .section {
    grid-template-columns: min-content 1fr;
    gap: 20px;
  }
  .section__why .section__title {
    grid-column: 1;
  }
  .section__why article {
    grid-column: 2;
  }
  .section__what .section__title {
    grid-column: 1;
  }
  .section__what article {
    grid-column: 1/-1;
  }
  .section__how .section__title {
    grid-column: 1;
  }
  .section__how article {
    grid-row: 1 span;
    grid-column: 2;
  }
  .section__gallery {
    display: grid;
    grid-template-rows: min-content repeat(3, fit-content);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
  }
  .section__gallery .section__subtitle {
    grid-row: 1;
    grid-column: 1 / -1;
  }
  .img-sunset {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .img-ice {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 3;
  }
  .img-tape {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column: 1;
  }
  .img-books {
    grid-row: 3;
    grid-column: 2;
  }
  .img-street {
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .footer .title-font {
    align-self: center;
    justify-self: center;
    margin-top: 0;
    grid-row: unset;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
    --header__padding: 20px;
    padding-left: 0;
    grid-template-columns: 1fr 1fr;
  }
  .header__light::after {
    content: "";
    top: calc(var(--header__padding) - 9px);
  }
  .header__theme-menu {
    grid-column: span 2;
    grid-row: 1;
    justify-self: center;
    align-self: start;
    gap: 10px;
    margin-top: 0;
    white-space: nowrap;
  }
  .header__theme-menu-item {
    display: inline-block;
  }
  .title-font {
    margin-top: 273px;
  }
  .header__title {
    min-height: 71px;
    margin-top: 114px;
  }
  .section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .section__what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .section__what article {
    grid-row: 2;
  }
  .section__gallery {
    display: grid;
    grid-template-rows: min-content repeat(3, fit-content);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
  }
  .section__gallery .section__subtitle {
    grid-row: 1;
    grid-column: 1 / -1;
  }
}
