/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/*@import url('variables.css');*/

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--page__background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background-color);
  overflow-x: hidden;
}

.header{
  position: relative;
  block-size: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  padding: var(--header__padding);
}

.header::before{
  content: "";
  position: absolute;
  top: var(--header__padding); 
  right: var(--header__padding);
  z-index: 1;
  block-size: 25px;
  inline-size: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.header::after{
  content: "";
  position: absolute;
  bottom: var(--header__padding); 
  left: var(--header__padding);
  z-index: 1;
  block-size: 25px;
  inline-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__light{
  position: absolute;
  top:var(--header__padding);
  right: calc(var(--header__padding) + 10px);
  z-index: 1;
  color: var(--accent-color);
  font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  align-self: end;
  margin-right: 20px;
}

.header__light::after{
  z-index: 1;
  content: "";
  position: absolute;
  top: calc(var(--header__padding) - 3px); 
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 10px var(--accent-color);
  margin-left: 10px;
}

.header__theme-menu{
  margin-top: 75px;
  justify-self: end;
  gap: 10px;
}

.header__theme-menu-button{
  font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  padding: 3px 13px;
  text-transform: lowercase;
  margin: 5px 0;
}

.header__theme-menu-button:hover{
  outline: solid 1px var(--accent-color-hover);
}

.header__theme-menu-button:focus-visible{
  border-bottom: solid 1px var(--accent-color);
  outline: none;
}

.title-font{
  font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  leading-trim: NONE;
  line-height: 83%;
  letter-spacing: 0%;
  color: rgba(219, 0, 255, 1);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-top: 65px;
  align-self: center;
  justify-self: center;

}
.header__title{
  font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--background-color);
  block-size: min-content;
  margin-top: 55px;
}

.title-decor{
  background-color: var(--accent-color);
}

.main{
  padding: 25px 10px;
  background-color: var(--background-color);
}

.section{
  padding: 25px 0;
}

.section__title{
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.section__subtitle{
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--background-color);
  margin-bottom: 10px;
}

.section__subtitle-extra{
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--background-color);

}

.section__article-text{
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--text-color);
  margin-bottom: 20px;
}

.link{
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.link:hover{
  text-decoration: underline;
  text-decoration-color: var(--text-color);
}

.link:focus-visible{
  outline: 1px solid var(--text-color);
}

.section__gallery{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.section__image{
  max-width: 100%;
  height: auto;
  display: block
}

.footer{
  position: relative;
  block-size: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr;
}

.footer::before{
  content: "";
  position: absolute;
  top: var(--header__padding); 
  right: var(--header__padding);
  z-index: 1;
  block-size: 25px;
  inline-size: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.footer::after{
  content: "";
  position: absolute;
  bottom: var(--header__padding); 
  left: var(--header__padding);
  z-index: 1;
  block-size: 25px;
  inline-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}